.SearchResultsContainer .header img {
    margin-left: 0.5rem;
}

.SearchResultsContainer .header h1 {
    margin-left: 0.5rem;
    font-size: var(--title);
    color: var(--color-2);
}

.SearchResultsContainer .header {
    height: 3.5rem;
    background: var(--color-1);
    display: flex;
    align-items: center;
    border: 0;
    width: 100%;
    position: fixed;
    top: 0;
}

#SearchResultsContainer_desktop .header img {
    margin-left: 0.5rem;
}

#SearchResultsContainer_desktop .header h1 {
    margin-left: 3rem;
    font-size: var(--title);
    color: var(--color-2);
}

#SearchResultsContainer_desktop .header {
    height: 3.5rem;
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    width: 100%;
    position: fixed;
    top: 0;
}